body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 50px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    display: block;
    background-color: #81abd4;
}

.menu a:hover {
    background-color: #34495e;
}

.dropdown {
    position: relative;
    width: 200px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}
