html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

table.full {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
}

td {
    width: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: clamp(16px, 3vw, 48px);
}

.left {
    background-color: #d2f7ff;
}

.right {
    background-color: #f8b9b0;
}
